<title>Login Form</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">

<h2>Login Form</h2>

<form action="#" method="post" role="form">

<div class="form-group">
    
    <label for="Email">Email:</label><br>
    <input type="text" class="form-control" id="email" name="email" placeholder="Email" size="50" required><br><br>

    <label for="Password">Password:</label><br>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password" size="50" min="4" max="10" required><br><br>
   

</div>
<button type="submit" class="btn btn-success">Login</button>
</form>