<title>OTP Form</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">

<form action="#" method="post" role="form">
<div class="form-group">
    <label for="Please enter otp:">Enter otp:</label><br>
    <input type="text" class="form-control" id="otpgenerator" name="otpgenerator" placeholder="Enter otp" required><br><br>

</div>
<button type="submit" class="btn btn-success">Enter</button>
</form>
