<title>Register Form</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">

<h2>Register Form</h2>

<form action="#" method="post" role="form">

<div class="form-group">
    <label for="Username">Username:</label><br>
    <input type="text" class="form-control" id="username" name="username" placeholder="What's your username?" size="50" min="4" max="10" required><br><br>

    <label for="Email">Email:</label><br>
    <input type="text" class="form-control" id="email" name="email" placeholder="An otp will be sent to email" size="50" required><br><br>

    <label for="Password">Password:</label><br>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password" size="50" min="4" max="10" required><br><br>

    <label for="Contact Number">Contact Number:</label><br>
    <input type="text" class="form-control" id="number" name="number" placeholder="Enter contact number" size="50" pattern="[0-9]{10}"><br><br>

</div>
<button type="submit" class="btn btn-success">Sign Up</button>
</form>
